<style type="text/css">
	
</style>

<form action="">
	<lablel>Language to export</label>
	<input type="hidden" name="tab"       value="AdminModules"/>
	<input type="hidden" name="configure" value="translatool" />
	<input type="hidden" name="token"     value="{$token}" />

	<select name="iso">
		{foreach from=$languages item=language}
			<option>{$language['iso_code']}</option>
		{/foreach}
	</select>
	<button>Export Strings &amp; Translations</button>
</form>

{if $download_url !== false}
	<a  class="button" href={$download_url}>Download Keys File</a>
{/if}